Repository iamfj/gitflow-genius-action: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc-files --noEmit, prettier --ignore-path .gitignore, eslint --ignore-path .gitignore --ext .js,.ts

.lintstagedrc:

{
  "**/*.ts": "tsc-files --noEmit",
  "*.{json,css,scss,md}": "prettier --ignore-path .gitignore",
  "**/*.{ts,js}": "eslint --ignore-path .gitignore --ext .js,.ts"
}

fix: merge and dispatch workflows
  action.yml
  package-lock.json
  package.json
  src/utils/config.ts
  src/utils/git.ts
  src/workflows/dispatch.ts
  src/workflows/pullRequest.ts
Due: tsc-files --noEmit, prettier --ignore-path .gitignore, eslint --ignore-path .gitignore --ext .js,.ts

fix: strictmode
  src/utils/git.ts
Due: tsc-files --noEmit, eslint --ignore-path .gitignore --ext .js,.ts

fix: pull type evaluation
  src/index.ts
  src/utils/git.spec.ts
  src/utils/git.ts
  src/utils/logger.ts
  src/workflows/dispatch.ts
  src/workflows/pullRequest.ts
Due: tsc-files --noEmit, eslint --ignore-path .gitignore --ext .js,.ts

fix: release notes
  src/utils/config.ts
  src/utils/git.ts
  src/utils/notes.ts
  src/workflows/dispatch.ts
  src/workflows/pullRequest.ts
  tsconfig.json
Due: tsc-files --noEmit, prettier --ignore-path .gitignore, eslint --ignore-path .gitignore --ext .js,.ts

fix: issue with latest version
  src/workflows/dispatch.ts
Due: tsc-files --noEmit, eslint --ignore-path .gitignore --ext .js,.ts

fix: issues with previous version inc
  src/utils/git.ts
  src/workflows/dispatch.ts
  src/workflows/pullRequest.ts
Due: tsc-files --noEmit, eslint --ignore-path .gitignore --ext .js,.ts

fix: issues with generation of release notes
  src/index.ts
  src/utils/config.ts
  src/utils/git.ts
  src/utils/notes.ts
  src/workflows/dispatch.ts
  src/workflows/pullRequest.ts
Due: tsc-files --noEmit, eslint --ignore-path .gitignore --ext .js,.ts

chore: added unit tests
  .eslintrc
  package-lock.json
  package.json
  src/utils/config.spec.ts
  src/utils/config.ts
  src/utils/logger.spec.ts
  src/utils/logger.ts
Due: tsc-files --noEmit, prettier --ignore-path .gitignore, eslint --ignore-path .gitignore --ext .js,.ts

chore: added coverage to test script
  package.json
Due: prettier --ignore-path .gitignore

Create FUNDING.yml
  .github/FUNDING.yml
Due: none
